/* Hide ScrollBarr */
* { overflow: -moz-scrollbars-none !important; }
.table {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}
.table::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
/* Zoom */
.zoom {
    position: relative;
    overflow: hidden;
}

.zoom:hover img {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);

}

.zoom img {
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;

}

.btn-primary {
    color: #fff;
    background-color: #282d33;
    border-color: transparent;
    border-radius: 30px;

}

.card:hover {
    background: #fff !important;
    box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
    border-radius: 4px;
    transition: all 0.3s ease;
}

body {
    font-family: 'Raleway', sans-serif;
}

.pagination>li>a,
.pagination>li>span {
    border-radius: 50% !important;
    margin: 0 5px;
    color: black;

}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #003C00;
    background-color: rgb(243, 247, 247);
    border: 1px solid #000000;
}

.page-item.disabled .page-link {
    color: #868e96;
    pointer-events: none;
    cursor: auto;
    background-color: rgb(249, 250, 249);
    border-color: rgb(196, 199, 193);
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
}



.page-link:focus,
.page-link:hover {
    color: #fff;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    border-color: rgb(196, 199, 193);
}

#myCarousel {
    width: 300px;
    height: 350px;
}

.carousel-inner {
    height: 100%;
}

.item {
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
    max-height: 350px;
}

.item img {
    object-fit: cover;
}

.form-inline .form-group input {
	width:300px;
}
  
#page-wrapper {
    width: 640px;
    background: #FFFFFF;
    padding: 1em;
    margin: 1em auto;
    border-top: 5px solid #69c773;
    box-shadow: 0 2px 10px rgba(0,0,0,0.8);
  }
  

  
label {
    display: block;
    margin-top: 2em;
    margin-bottom: 0.5em;
    color: #999999;
  }
  
input {
    width: 100%;
    padding: 0.5em 0.5em;
    font-size: 1.2em;
    border-radius: 3px;
    border: 1px solid #D9D9D9;
  }

smalle {
   font-size: 96%;
 }

smalle,
.smalle {
  font-size: 96%;
  font-weight: 400;
}

smallf {
    font-size: 88%;
  }

smallf,
.smallf {
  font-size: 88%;
  font-weight: 400;
}
smallg {
    font-size: 78%;
  }

smallg,
.smallg {
  font-size: 78%;
  font-weight: 400;
}

smallh {
    font-size: 68%;
  }

smallh,
.smallh {
  font-size: 68%;
  font-weight: 400;
}


.my-custom-scrollbar {
    position: relative;
    height: 300px;
    overflow: auto;
  }
.table-wrapper-scroll-y {
    display: block;
  }
  
.table-responsive {
    overflow-x: auto;
    overflow-y: hidden;   
}

table#t03 {
    width: 100%;    
    overflow: initial;
  }


  /*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/

body {
  background: #ffd89b;
  background: -webkit-linear-gradient(to right, #ffd89b, #19547b);
  background: linear-gradient(to right, #ffd89b, #19547b);
  min-height: 100vh;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}