{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

{% if error %}
{{ error }}
<br />
<br />
{% endif %}

<h1>Create!</h1>
<br />

<div class="col-6 d-flex flex-column">
    <div class="card shadow">
        <div class="col-xl-10">
            <form action='.' method='POST'>{% csrf_token %}
                <div class="form-group">

                    {{ form.productid|as_crispy_field }}

                </div>
                <div class="form-group">

                    {{ form.no_shares|as_crispy_field }}

                </div>
                <div class="form-group">

                    {{ form.start_date|as_crispy_field }}

                </div>
                <div class="form-group">

                    {{ form.sip_date|as_crispy_field }}

                </div>
                <div class="form-group">

                    {{ form.notes|as_crispy_field }}

                </div>
                <div class="form-group">

                    <input type="submit" class="btn btn-primary" type="submit" value="Add Product">

                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#id_sip_date").datepicker();
    });
</script>
<script>
    $(function () {
        $("#id_start_date").datepicker();
    });
</script>

{{ form.media }}
{% endblock %}