{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

{% if error %}
{{ error }}
<br />
<br />
{% endif %}

<h1>Create!</h1>
<br />
<form action='.' method='POST'>{% csrf_token %}
    <div class="form-row">
        <div class="col-md-6 mb-1">
            {{ form.productid|as_crispy_field  }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-2 mb-1">
            {{ form.no_shares|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-3">
            {{ form.start_date|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-3">
            {{ form.sip_date|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-4">
            {{ form.notes|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-2">
            <input type="submit" class="btn btn-primary" type="submit" value="Add Product">
        </div>
    </div>
</form>
<script>
    $( function() {
    $( "#id_sip_date").datepicker();
    } );
</script>
<script>
    $( function() {
    $( "#id_start_date").datepicker();
    } );
</script>

{{ form.media }}
{% endblock %}
