{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

{% if error %}
{{ error }}
<br />
<br />
{% endif %}
<div class="container-fluid"></div>
    <div class="row d-flex h-75 justify-content-center align-items-center mb-2">
            <div class="col-xs-12 center-block text-center">
            </div>
    </div>
    <div class="row">
        <div class="d-sm-flex align-items-center justify-content-between mb-2">
        </div>
  </div>
    <!-- Content Row start --> 
    <div class="row d-flex h-75 justify-content-center align-items-center mb-2">
    
        <div class="col-2 d-flex flex-column"></div>
    <!-- Content column start --> 

        <div class="col-8 d-flex flex-column">
    <!-- card start -->
        <div class="card shadow px-4">
          <div style="text-align:center;border:1px"><h5>Add Mutual Fund</h5></div>
            <form action='.' method='POST'>{% csrf_token %}
                <div class="form-group">

                    {{ form.productid|as_crispy_field }}

                </div>
                <div class="form-group w-50">

                    {{ form.no_shares|as_crispy_field }}

                </div>
                <div class="form-group w-50">

                    {{ form.start_date|as_crispy_field }}

                </div>
                <div class="form-group w-50">

                    {{ form.sip_date|as_crispy_field }}

                </div>
                <div class="form-group">

                    {{ form.notes|as_crispy_field }}

                </div>
                <div class="form-group">
                    <div class="text-right">
                        <button class="btn btn-info pull-right" type="submit" >Add Product</button>
                    </div>
                </div>
            </form>
        
            </div>
    <!-- card end -->
        </div>
    <!-- Content column end -->

     <div class="col-2 d-flex flex-column"></div>
    </div>
    <!-- Content column start --> 
</div>
<script>
    $(function () {
        $("#id_sip_date").datepicker();
    });
</script>
<script>
    $(function () {
        $("#id_start_date").datepicker();
    });
</script>

{{ form.media }}
{% endblock %}