{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<!-- Main Content -->
<div id="content">

<!-- Begin Page Content -->
    <div class="container-fluid">
 <!-- Page Heading -->
<!-- Content Row -->
       <div class="row">
            <div class="d-sm-flex align-items-center justify-content-between mb-2">
            </div>
      </div>
<!-- Content Row -->

        <div class="row d-flex h-75 justify-content-center align-items-center mb-2">
    
        <div class="col-2 d-flex flex-column"></div>
<!-- Content column start -->

        <div class="col-8 d-flex flex-column">
<!-- card start -->
         <div class="card shadow mx-4 my-4 p-4 ">
        
                <div style="text-align:center;border:1px"><h5>{% if not form.instance.pk %}Add a new Genre{% else %}Edit {{ form.title }}{% endif %}</h5></div>
<!-- form start -->
          <form action="" method="post">{% csrf_token %}
            <div class="form-group w-50">

            {{ form.no_shares|as_crispy_field }}

             </div>
            <div class="form-group w-50">

            {{ form.start_date|as_crispy_field }}

            </div>
            <div class="form-group w-50">

            {{ form.sip_date|as_crispy_field }}

            </div>
            <div class="form-group">

            {{ form.notes|as_crispy_field }}

            </div>
            <div class="form-group">
                <div class="text-right">   
                    <button type="submit" class="btn btn-info btn-sm pull-right">Update</button>
                </div>
            </div>
          </form>
<!-- form end -->
    </div>
<!-- card end -->
    </div>
<!-- Content column End -->
<div class="col-2 d-flex flex-column"></div>
        </div>

<!-- Content Row  End-->


    </div>
<!-- End Page Content -->

</div>
<!-- Main Content End -->


    <script>
        $(function () {
            $("#id_sip_date").datepicker();
        });
    </script>
    <script>
        $(function () {
            $("#id_start_date").datepicker();
        });
    </script>
    
   

{{ form.media }}


{% endblock %}
