{% extends 'base.html' %}

{% block content %}



<main role="main">
    <div class="container">
        <!-- Content Row -->
        <div class="row">
          <div class="d-sm-flex align-items-center justify-content-between mb-2">
          </div>
        </div>
        <!-- Content Row -->
        <div class="row">

                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-2">
                  <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Worth</div>
                          <div class="smalle mb-0 font-weight-bold text-gray-800">{{ sumtotal }}</div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              
                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-2">
                  <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Your Investments</div>
                          <div class="smalle mb-0 font-weight-bold text-gray-800">0000</div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              
                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-2">
                  <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Todays Gain</div>
                            <div class="smalle mb-0 font-weight-bold text-gray-800">0000</div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              
                <!-- Pending Requests Card Example -->
                <div class="col-xl-3 col-md-6 mb-2">
                  <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Total Gain</div>
                          <div class="smalle mb-0 font-weight-bold text-gray-800">0000</div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        <!-- Content Row -->
        <div class="row">
          <!--Card -->
        <div class="card border-left-info shadow mb-4">
               <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Your Holdings</h6>
                </div>
             <!--Card Body-->
            <div class="card-body">
                <div id="table" class="table">
                    <!-- <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i class="fas fa-plus fa-2x"
                  aria-hidden="true"></i></a></span> -->
                    <table class="table table-bordered table-responsive-md table-striped text-center ">
                        <tr class="smallf font-weight-bold text-primary text-uppercase ">
                            <th class="text-center">Mutual Fund</th>
                            <th class="text-center">Amfi ID</th>
                            <th class="text-center">No Of Shares</th>
                            <th class="text-center">Start Date</th>
                            <th class="text-center">Sip Date</th>
                            <th class="text-center">Notes</th>
                            <th class="text-center">Nav</th>
                            <th class="text-center">Total</th>
                            <th class="text-center">Sort</th>
                            <th class="text-center">Edit</th>
                            <th class="text-center">Remove</th>

                        </tr>
                        {% for fund in portfolioList %}

                        <tr class="hide smallf">

                           
                            <td class="pt-3-half">
                                <p class="card-text" onclick="window.location='{% url 'detail' fund.8 %}';" style=" cursor: pointer;">{{ fund.1 }}</p>
                            </td>
                            <td class="pt-3-half">
                                <p class="card-text">{{ fund.9 }}</p>
                            </td>
                         

                            <td class="pt-3-half">{{ fund.2 }}</td>
                            <td class="pt-3-half">{{ fund.3 }}</td>
                            <td class="pt-3-half">{{ fund.4 }}</td>
                            <td class="pt-3-half">{{ fund.5 }}</td>
                            <td class="pt-3-half">{{ fund.6|floatformat:2 }}</td>
                            <td class="pt-3-half">{{ fund.7|floatformat:2 }}</td>
                            <td class="pt-3-half">
                                <span class="table-up"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up"
                                            aria-hidden="true"></i></a></span>
                                <span class="table-down"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down"
                                            aria-hidden="true"></i></a></span>
                            </td>
                            <td>
                                    <div>
                                            <a href="{% url 'editmutual' fund.0 %}"
                                            class="btn btn-danger btn-rounded btn-sm my-0"
                                            role="button">Edit</a>
                                    </div>
                      
                            </td>
                            <td>
                                
                                <form id="sbmg" onSubmit="if(!confirm('Do you want to Delete the record')){return false;}" class="flex-container" method="post" action="{% url 'delmutual'  %}">
                                    {% csrf_token %}
                                    <div class="input-group">
                                        <input type="hidden" name="mfund2" value="{{fund.0}}">
                                        <button name="delete"  type="submit" class="btn btn-danger btn-rounded btn-sm my-0">Remove</button>
                                                                          </div>
                                </form>
                            </td>
                            {% endfor %}
                    

                        </tr>
                    </table>
                </div>
            </div>
             <!--Card Body -->
        </div>
         <!--Card -->
        </div>
        <!-- Content Row -->
       


    </div>

</main>

{% endblock %}