{% extends 'base.html' %}
{% block content %}
{% if error %}
{{ error }}
<br />
<br />
{% endif %}
<h1>Create!</h1>
<br />
<form  method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
{% csrf_token %}
AMFI CODE:
<br />
<input type="text" name="stockid" />
<br />
  Title:
  <br />
  <input type="text" name="title" />
  <br />
  Body:
  <br />
  <input type="textbox" name="body" />
  <br />
  Icon:
  <br />
  <input type="file" name="icon" />
  <br />
   <br />
  <input type="submit" class="btn btn-primary btn-sm" type="submit" value="Add Product">
  <button type="button" class="btn btn-primary btn-sm">Small button</button>
</form>
{% endblock %}
