{% extends 'base.html' %}
<script>
    {% block jquery %}
    var endpoint = '/api/chart/data/'
   
    console.log( "{{ topgainers }}")
    var defaultData = [{% for i in stockdetail.data reversed %} "{{ i.1 }}", {% endfor %}]
    var labels = [{% for i in stockdetail.data reversed%} "{{ i.0 }}", {% endfor %}];
    setChart()
  
    function setChart() {
        var ctx = document.getElementById("myChart");
        var ctx2 = document.getElementById("myChart2");
        var myChart = new Chart(ctx2, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Historic Nav',
                    data: defaultData,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                
                elements: { point: { radius: 1, hitRadius: 1, hoverRadius: 4 } } , // disable for all points radius
                responsive: true,
                maintainAspectRatio: false,
            
            }
        });
        var myChart = new Chart(ctx, {
            type: 'polarArea',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Historic Nav',
                    data: defaultData,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    } 
    {% endblock %}
</script>
<script>
{% block jquery2 %}
$(".default-ticker").ticker({

// item selector
item: 'div',

// Toggles whether the ticker should pause on mouse hover
pauseOnHover: false,

// <a href="https://www.jqueryscript.net/animation/">Animation</a> speed
speed: 70,

// Decides whether the ticker breaks when it hits a new item or if the track has reset
pauseAt: '',

// delay in milliseconds
delay: 400

});
$(".default2-ticker").ticker({

// item selector
item: 'div',

// Toggles whether the ticker should pause on mouse hover
pauseOnHover: false,

// <a href="https://www.jqueryscript.net/animation/">Animation</a> speed
speed: 60,

// Decides whether the ticker breaks when it hits a new item or if the track has reset
pauseAt: '',

// delay in milliseconds
delay: 500

});

{% endblock %}
</script>

{% block content %}

 <!-- Page Wrapper -->
 <div id="wrapper">
        <!-- Content Wrapper -->
        <div id="content-wrapper2" class="d-flex flex-column">
        <!-- Main Content -->
          <div id="content">
        <!-- Begin Page Content -->
        <div class="container-fluid">
<!--   Start -->
 <!-- Top Div -->

 <!-- Page Heading -->
 <div class="d-sm-flex align-items-center justify-content-between mb-4">
</div>
    
    <div class="row ">
    
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Sensex</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-calendar fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
    
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-success text-uppercase mb-1">NIFTY</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
    
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-info text-uppercase mb-1">GOLD</div>
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                    </div>
                    <div class="col">
                      <div class="progress progress-sm mr-2">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
    
        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">USD/INR</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-comments fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<div class='row d-sm-flex align-items-center justify-content-between mb-4'>
<div class='card border-left-primary shadow h-100 py-2' >
<div class="default-ticker">
        {% for tpg in topgainers %}
        <div class="bg-light">{{ tpg.symbol }}:{{ tpg.openPrice }} <i class="fas fa-caret-up"></i></div>      
        {% endfor %}
</div>
<div class="default2-ticker">
        {% for tpl in toplosers %}
        <div class="bg-light">{{ tpl.symbol }}:{{ tpl.openPrice }} <i class="fas fa-caret-down"></i> </div>      
        {% endfor %}
</div>
</div>
</div>

<div class="container-fluid content-row">
 <div class="row pt-2">

    <div class="col-8 d-flex flex-column">
        <div class='row'>            
            <div class='card  shadow mb-1 mt-1 pl-4 pr-4' >
                    <h5> {{ stockdetail.name }} </h5>
                    <div class="chart-container" style="position: relative; height:40vh; width:35vw">
                    <canvas id="myChart2" ></canvas>        
                    </div>   
            </div>
        </div>
    </div>
    <div class="col-4 d-flex flex-column">
        <div class="card  shadow mb-1 mt-1 pl-4 pr-4" style="max-width: 20rem;">
            <div class="table-wrapper">
            <table class="table-responsive table-sm card-list-table" style="color:Grey;">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td>ID <i class="fas fa-car"></i></td>
                        <td>{{ stockdetail.id }}</td>
                    </tr>
                    <tr>
                        <td>Amfi ID<i class="fas fa-hammer"></i></td>
                        <td>{{ stockdetail.dataset_code }}</td>
                    </tr>
                    <tr>
                        <td>Database<i class="fas fa-calendar-check"></i></td>
                        <td>{{ stockdetail.database_code }}</td>
                    </tr>
                    <tr>
                        <td>Name <i class="fab fa-buromobelexperte"></i></td>
                        <td>{{ stockdetail.name }}</td>
                    </tr>
                    <tr>
                        <td>Oldest Available Date<i class="fas fa-cogs"></i></td>
                        <td>{{ stockdetail.start_date }}</td>
                    </tr>
                    <tr>
                        <td>Latest Available Date <i class="fas fa-battery-full"></i></td>
                        <td>{{ stockdetail.end_date }}</td>
                    </tr>
                    <tr>
                        <td> Description<i class="fab fa-searchengin"></i></td>
                        <td>{{ stockdetail.description }}</td>
                    </tr>


                </tbody>
            </table>
            </div>
            <div class="d-flex align-items-end flex-column" style="height: 50;">
                <div class="pr-5 pb-3">
                    <h5><b>Latest NAV {{ stockdetail.data.0.1 }}</b></h5>
                </div>
            </div>

        </div>

    </div>
 </div>
</div>
</div>
</div>
</div>
</div>

{% endblock %}